﻿<div ng-controller="dataBlockConverter.overview.controller as vm">
    <umb-editor-view>
        <umb-editor-header name="vm.page.title"
                           description="vm.page.description"
                           name-locked="true"
                           hide-icon="true"
                           hide-alias="true"
                           description-locked="true">
        </umb-editor-header>

        <umb-editor-container>

            <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>

            <div class="umb-logviewer" ng-if="!vm.loading">
                <div class="umb-logviewer__main-content" style="width: calc(100% - 425px);">
                    <umb-box>
                        <umb-box-header title="Content" description="If you want to convert all nested content in this document type and add them to the document type"></umb-box-header>

                        <umb-box-content>
                            <div>
                                <div class="umb-table">
                                    <div class="umb-table-head">
                                        <div class="umb-table-row">
                                            <div class="umb-table-cell"></div>
                                            <div class="umb-table-cell umb-table__name not-fixed"><localize key="general_name">Name</localize></div>
                                            <div class="umb-table-cell umb-table-cell--nano"><localize key="general_open" style="visibility:hidden;">Open</localize></div>
                                            <div class="umb-table-cell"><localize key="general_open" style="visibility:hidden;">Open</localize></div>
                                            <div class="umb-table-cell"></div>
                                        </div>
                                    </div>
                                    <div class="umb-table-body">
                                        <div class="umb-table-row" ng-repeat="page in vm.content">
                                            <div class="umb-table-cell">
                                                <umb-icon icon="{{page.contentType.icon}}" class="umb-table-body__icon"></umb-icon>
                                            </div>
                                            <div class="umb-table-cell umb-table__name"><span>{{::page.name}}</span></div>
                                            <div class="umb-table-cell umb-table-cell--nano"><a ng-click="vm.openContent(page.id)"><localize key="general_open">Open</localize></a></div>
                                            <div class="umb-table-cell">
                                                <umb-button action="vm.convertContent(page)"
                                                            type="button"
                                                            button-style="primary"
                                                            state="vm.generateDictionariesButtonState"
                                                            label="Convert">
                                                </umb-button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </umb-box-content>
                    </umb-box>

                    <!--<umb-box>
                        <umb-box-header title="Document types" description="If you want to convert all nested content in this document type and add them to the document type"></umb-box-header>

                        <umb-box-content>
                            <div>
                                <div class="umb-table">
                                    <div class="umb-table-head">
                                        <div class="umb-table-row">
                                            <div class="umb-table-cell"></div>
                                            <div class="umb-table-cell umb-table__name not-fixed"><localize key="general_name">Name</localize></div>
                                            <div class="umb-table-cell umb-table-cell--nano"><localize key="general_open" style="visibility:hidden;">Open</localize></div>
                                            <div class="umb-table-cell"><localize key="general_open" style="visibility:hidden;">Open</localize></div>
                                        </div>
                                    </div>
                                    <div class="umb-table-body">
                                        <div class="umb-table-row" ng-repeat="contentType in vm.contentTypes" ng-click="vm.toggleSelect(contentType.id, vm.selectedContentTypes)">
                                            <div class="umb-table-cell">
                                                <umb-icon icon="{{vm.selectedContentTypes.indexOf(contentType.id) !== -1 ? 'icon-check' : contentType.icon}}" class="umb-table-body__icon"></umb-icon>
                                            </div>
                                            <div class="umb-table-cell umb-table__name"><span>{{::contentType.name}}</span></div>
                                            <div class="umb-table-cell umb-table-cell--nano"><a ng-click="vm.openDocumentType(contentType)"><localize key="general_open">Open</localize></a></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="umb-editor-sub-header umb-editor-sub-header-- --state-selection mt3" ng-if="vm.selectedContentTypes.length">
                                    <div>
                                        <umb-button action="vm.clearSelection(vm.selectedContentTypes)"
                                                    class="mr2"
                                                    type="button"
                                                    button-style="info"
                                                    state="vm.buttonState"
                                                    label="Clear selection">
                                        </umb-button>

                                        {{vm.selectedContentTypes.length}} of {{vm.contentTypes.length}} selected
                                    </div>

                                    <div>
                                        <umb-button action="vm.convertContentType()"
                                                    type="button"
                                                    button-style="info"
                                                    state="vm.convertContentTypeButtonState"
                                                    label="Convert ({{vm.selectedContentTypes.length}}) content types"
                                                    disabled="vm.selectedContentTypes.length == 0">
                                        </umb-button>
                                    </div>
                                </div>
                            </div>
                        </umb-box-content>
                    </umb-box>-->

                    <!--<umb-box>
                        <umb-box-header title="Data types" description="If you just want to convert the data type but not add it to the document type"></umb-box-header>
                        <umb-box-content>
                            <div>
                                <div class="umb-table">
                                    <div class="umb-table-head">
                                        <div class="umb-table-row">
                                            <div class="umb-table-cell"></div>
                                            <div class="umb-table-cell umb-table__name not-fixed"><localize key="general_name">Name</localize></div>
                                            <div class="umb-table-cell umb-table-cell--nano"><localize key="general_open" style="visibility:hidden;">Open</localize></div>
                                            <div class="umb-table-cell"><localize key="general_open" style="visibility:hidden;">Open</localize></div>
                                        </div>
                                    </div>
                                    <div class="umb-table-body">
                                        <div class="umb-table-row" ng-repeat="dataType in vm.dataTypes" ng-click="vm.toggleSelect(dataType.id, vm.selectedDataTypes)">
                                            <div class="umb-table-cell">
                                                <umb-icon icon="{{vm.selectedDataTypes.indexOf(dataType.id) !== -1 ? 'icon-check' : dataType.icon}}" class="umb-table-body__icon"></umb-icon>
                                            </div>
                                            <div class="umb-table-cell umb-table__name"><span>{{::dataType.name}}</span></div>
                                            <div class="umb-table-cell umb-table-cell--nano"><a ng-click="vm.openDataTypeSettings(dataType.id)"><localize key="general_open">Open</localize></a></div>
                                            <div class="umb-table-cell">
                                                <a ng-click="vm.openDataTypeSettings(dataType.matchingBLId)" ng-if="dataType.matchingBLId">
                                                    View matching block list
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="umb-editor-sub-header umb-editor-sub-header-- --state-selection mt3" ng-if="vm.selectedDataTypes.length">
                                <div>
                                    <umb-button action="vm.clearSelection(vm.selectedDataTypes)"
                                                class="mr2"
                                                type="button"
                                                button-style="info"
                                                state="vm.buttonState"
                                                label="Clear selection">
                                    </umb-button>

                                    {{vm.selectedDataTypes.length}} of {{vm.dataTypes.length}} selected
                                </div>

                                <div>
                                    <umb-button action="vm.convertDataTypes()"
                                                type="button"
                                                button-style="info"
                                                state="vm.convertDataTypesButtonState"
                                                label="Convert ({{vm.selectedDataTypes.length}}) data types"
                                                disabled="vm.selectedDataTypes.length == 0">
                                    </umb-button>
                                </div>
                            </div>
                        </umb-box-content>
                    </umb-box>-->
                </div>
                <div class="umb-logviewer__sidebar">
                    <umb-box>
                        <umb-box-header title="Settings"></umb-box-header>
                        <umb-box-content>
                            <umb-code-snippet language="'json'">{{vm.appSettings}}</umb-code-snippet>
                        </umb-box-content>
                    </umb-box>
                </div>
            </div>


        </umb-editor-container>

    </umb-editor-view>
</div>