﻿<div ng-controller="autoBlockList.overview.controller as vm" id="autoBlockList">
    <umb-editor-view>
        <umb-editor-header name="'Auto block list'"
                           hide-description="true"
                           name-locked="true"
                           hide-icon="true"
                           hide-alias="true">
        </umb-editor-header>

        <umb-editor-container>

            <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>

            <div class="umb-logviewer" ng-if="!vm.loading">
                <div class="umb-logviewer__main-content" style="width: calc(100% - 425px);">
                    <umb-box>
                        <umb-box-header title="Content" description="Converts all nested content data types to block lists and adds them to the contents document type. It also converts the content to make it work with block list."></umb-box-header>

                        <umb-box-content>
                            <div>
                                <div class="umb-table">
                                    <div class="umb-table-head">
                                        <div class="umb-table-row">
                                            <div class="umb-table-cell"></div>
                                            <div class="umb-table-cell umb-table__name not-fixed"><localize key="general_name">Name</localize></div>
                                            <div class="umb-table-cell umb-table-cell--nano"><localize key="general_open" style="visibility:hidden;">Open</localize></div>
                                            <div class="umb-table-cell"><localize key="general_open" style="visibility:hidden;">Open</localize></div>
                                        </div>
                                    </div>
                                    <div class="umb-table-body">
                                        <div class="umb-table-row" ng-repeat="page in vm.pagedContent.items" ng-click="vm.toggleSelect(page.id)">
                                            <div class="umb-table-cell">
                                                <umb-icon icon="{{vm.selectedContent.indexOf(page.id) !== -1 ? 'icon-check' : page.contentType.icon}}" class="umb-table-body__icon"></umb-icon>
                                            </div>
                                            <div class="umb-table-cell umb-table__name"><span>{{page.name}}</span></div>
                                            <div class="umb-table-cell">
                                                <umb-button ng-click="$event.stopPropagation();"
                                                            action="vm.openContent(page.id)"
                                                            title="Open"
                                                            type="button"
                                                            button-style="link"
                                                            state="vm.buttonState"
                                                            label="Open">
                                                </umb-button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="umb-editor-sub-header umb-editor-sub-header-- --state-selection mt3" ng-if="vm.selectedContent.length">
                                    <div>
                                        <umb-button action="vm.clearSelection()"
                                                    class="mr2"
                                                    type="button"
                                                    button-style="info"
                                                    state="vm.buttonState"
                                                    label="Clear selection">
                                        </umb-button>

                                        {{vm.selectedContent.length}} of {{vm.content.length}} selected
                                    </div>

                                    <div>
                                        <umb-button action="vm.convertDataTypes()"
                                                    type="button"
                                                    button-style="info"
                                                    state="vm.convertDataTypesButtonState"
                                                    label="Convert ({{vm.selectedContent.length}}) nodes"
                                                    disabled="vm.selectedContent.length == 0">
                                        </umb-button>
                                    </div>
                                </div>

                                <umb-pagination page-number="vm.pagedContent.pageNumber"
                                                total-pages="vm.pagedContent.totalPages"
                                                on-next="vm.nextPage"
                                                on-prev="vm.prevPage"
                                                on-go-to-page="vm.goToPage">
                                </umb-pagination>
                            </div>
                        </umb-box-content>
                    </umb-box>
                </div>
                <div class="umb-logviewer__sidebar">
                    <umb-box>
                        <umb-box-header title="Settings"></umb-box-header>
                        <umb-box-content>
                            <umb-code-snippet class="db mb4" language="'json'">{{vm.appSettings}}</umb-code-snippet>
                            <p class="mb0">
                                <strong>NameFormatting</strong>
                            </p>
                            <p>Refers to the name of the data type.</p>

                            <p class="mb0">
                                <strong>AliasFormatting</strong>
                            </p>
                            <p>Refers to the alias of the property that will be added to the document type.</p>
                        </umb-box-content>
                    </umb-box>
                </div>
            </div>


        </umb-editor-container>

    </umb-editor-view>
</div>