.hideClose div[data-element="button-overlayClose"] {
    display: none;
}

.autoBlockList.overlay .umb-table__name {
    max-width: 100%;
    display: block;
    overflow: auto;
}

.autoBlockList.overlay .errorMessage {
    display: block;
    font-weight: 400;
    font-size: 12px;
}

.autoBlockList.overlay .umb-table-cell > * {
    white-space: pre-line;
}

#autoBlockList .umb-table-body .umb-table-row:hover {
    background-color: #f3f3f5;
    cursor: pointer;
}