﻿<div ng-controller="autoBlockList.converting.controller as vm" class="autoBlockList overlay">

     <div ng-if="!vm.showReport">
         <div class="flex justify-between">
             <umb-icon style=" height: 7rem; width: 7rem;" icon="icon-settings-alt" ng-class="{'o-30' : vm.task != 'dataTypes'}"></umb-icon>
             <umb-icon style=" height: 7rem; width: 7rem;" icon="icon-sience" ng-class="{'o-30' : vm.task != 'contentTypes'}"></umb-icon>
             <umb-icon style=" height: 7rem; width: 7rem;" icon="icon-box-open" ng-class="{'o-30' : vm.task != 'content'}"></umb-icon>

         </div>

         <umb-progress-bar class="mt3" percentage="{{vm.percentage}}" color="primary" size="s">
         </umb-progress-bar>

         <div class="mt4 text-center">
             <div class="mb2">
                 {{vm.currentTask}}
             </div>
             <p>
                 <span ng-if="vm.item2">Adding</span>
                 <strong>{{ vm.item }}</strong>
                 <span ng-if="vm.item2">to</span>
                 <strong ng-if="vm.item2">{{ vm.item2 }}</strong>
             </p>
         </div>
     </div>
     <div ng-if="vm.showReport">

         <div class="umb-table">
             <div class="umb-table-head">
                 <div class="umb-table-row">
                     <div class="umb-table-cell"></div>
                     <div class="umb-table-cell umb-table__name not-fixed">
                        Task
                     </div>
                 </div>
             </div>
             <div class="umb-table-body">
                 <div class="umb-table-row" ng-repeat="report in vm.report">
                     <div class="umb-table-cell">
                         <umb-icon icon="icon-check color-green" ng-if="report.status == '0'"  class="umb-table-body__icon"></umb-icon>
                         <umb-icon title="Skipped. Already exists" icon="icon-arrow-right color-grey" ng-if="report.status == '1'"  class="umb-table-body__icon"></umb-icon>
                         <umb-icon icon="icon-alert-alt color-red" ng-if="report.status == '2'"  class="umb-table-body__icon"></umb-icon>
                     </div>
                     <div class="umb-table-cell umb-table__name">
                        <span>{{report.task}}</span>
                        <span class="errorMessage">{{report.errorMessage}}</span>
                     </div>
                 </div>
             </div>
         </div>
     </div>


</div>